.container-tower{
   display: flex; 
    flex-direction: row;
    align-items: flex-end;
    border: 2px solid black;
    min-height: 500px;
    justify-content: space-around;
}
.towers{
    width : 1em;
    height: 250px;
    border: 1px solid black;
    background-color: aqua;
}

